<div class="padding-top"></div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="static/images/1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="static/images/2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="static/images/3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="static/images/4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="static/images/5.jpg" alt=""></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>
        </div>