<div class="classify">
        <div class="list-one">
            <a href="###">
                <i class="icon"></i>
                <span class="name">分类</span>
            </a>
        </div>
        <div class="list-two">
            <a href="###">
                <i class="icon"></i>
                <span class="name">排行</span>
            </a>
        </div>
        <div class="list-three">
            <a href="###">
                <i class="icon"></i>
                <span class="name">追更</span>
            </a>
        </div>
        <div class="list-four">
            <a href="###">
                <i class="icon"></i>
                <span class="name">历史</span>
            </a>
        </div>
 </div>
