*{margin:0; padding:0;}
li{list-style: none;}
a{text-decoration: none; color: #666;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight: normal;}
input,area{outline: none;}
img{display: block; border:none;}
html,body{
    width: 100%;
    height: 100%;
    background:transparent;
}

.fl{float:left;}
.fr{float:right;}
.w1190{width:1190px; margin:0 auto;}

.clear:after{content: " "; display: block; clear: both; height:0; visibility: hidden;}
.clear{zoom:1;}

